---
import BaseLayout from '../../layouts/BaseLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));

  return [
    {params: {tag: "lifestyle"}, props: {posts: allPosts}},
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post: any) => post.frontmatter.tags?.includes(tag));
---
<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
        {filteredPosts.map((post: any) =><li><a href={`/${post.id}/`}><img width={720} height={360} src={post.data.heroImage} alt="" /><h4 class="title">{post.data.title}</h4><p class="date"><FormattedDate date={post.data.pubDate} /></p><p class="description">{post.data.description}</p></a></li>)}</ul>
</BaseLayout>