---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="de">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 style="text-align:center;margin-top:2em">
				Herzlich Willkommen
			</h1>
			<p style="text-align:center">
				Wer oder was ist Keks Magazin? Hier kannst du mehr über uns erfahren:
			</p>
			<button type="button" onclick="location.href='about'">
				Über uns
			</button>
			<div class="rounded-box">
                <h2 style="text-align:center">
					Artikel
				</h2>
                <p style="text-align:center">
					Hier findest du unsere neuesten Artikel:
				</p>
                <button type="button" onclick="location.href='blog'">
					Artikel
				</button>
            </div>
			<div class="rounded-box">
                <h2 style="text-align:center">
					Umfragen
				</h2>
                <p style="text-align:center">
					Hier findest du unsere neuesten Umfragen:
				</p>
				<p style="text-align:center">
					<a href="https://forms.office.com/r/wpv4FfxgNR">
					Umfrage zur Bundestagswahl 2025
					</a>
				</p>
            </div>
			<div class="rounded-box">
				<div id="bluesky-rss">
					<h2>Neuester Beitrag von Bluesky</h2>
					<ul id="bluesky-rss-list"></ul>
				  </div>
				  <script>
					const rssFeedUrl = 'https://bsky.app/profile/did:plc:wanv52ef2iwub4r2m7yd5jae/rss'; // RSS-Feed-Link von Bluesky
					const rssFeedList = document.getElementById('bluesky-rss-list');
				  
					fetch(rssFeedUrl)
					  .then(response => response.text())
					  .then(data => {
						const parser = new DOMParser();
						const xmlDoc = parser.parseFromString(data, 'text/xml');
						const items = xmlDoc.getElementsByTagName('item');
				  
						const latestItem = items[0];
						const title = latestItem.getElementsByTagName('title')[0].textContent;
						const link = latestItem.getElementsByTagName('link')[0].textContent;
						const description = latestItem.getElementsByTagName('description')[0].textContent;
				  
						const listItem = document.createElement('li');
						listItem.innerHTML = `
						  <h3>${title}</h3>
						  <p>${description}</p>
						  <p><a href="${link}">Mehr lesen</a></p>
						`;
						rssFeedList.appendChild(listItem);
					  });
				  </script>
            </div>
		</main>
		<Footer />
	</body>
</html>



